accelerate==1.5.2
bitsandbytes==0.46.1
datasets==3.6.0
huggingface-hub==0.31.1
numpy==1.26.4
pandas==2.2.3
peft==0.14.0
PyYAML==6.0.2
safetensors==0.5.3
scikit-learn==1.2.2
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp311-cp311-linux_x86_64.whl
tqdm==4.67.1
transformers==4.51.3
ipykernel==6.29.5
tqdm>=4.64.0
ipywidgets>=7.7.1
ipython>=7.16.3
jupyterlab>=3.0.0
notebook>=6.4.12
wandb>=0.17.4


